mat-dialog-content {
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: visible;
    padding-top: 12px !important;
}

.full-width {
    width: 100%;
}

.form-row {
    display: flex;
    gap: 12px;

    mat-form-field {
        flex: 1;
    }
}

@media (max-width: 600px) {
    .form-row {
        flex-direction: column;
        gap: 0;
    }
}
